body {
    background-color: #303030;
    color: #a9a9a9;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

a {
    color: inherit;
    height: 80px;
    width: 80px;
    line-height: 20px;
}

.background-container {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 96%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.background {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0;
}

.background img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.pop-up {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6%;
    bottom: 5%;
    left: -30%;
    background-color: #202020;
    border-radius: 20px 40px;
    padding: 0 10px;
    z-index: 2;
    opacity: .85;
}

.pop-up a {
    width: 10%;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: inherit;
}


#first-line,
#second-line,
#third-line {
    opacity: 0;
    font-size: 4em;
}

.menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 4%;
    height: 100%;
    background-color: #505050;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;


}

.menu-item-container {
    display: block;
    color: #202020;
    text-align: center;
    overflow: hidden;
}



.animation-container {
    display: block;
    position: relative;
    width: 100%;
    align-items: center;
    line-height: 100px;
    margin-bottom: 30px;
}



/* Animations */
i {
    opacity: 1;
}

.hover-text {
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .6s ease;
    /* color: #D2691E; */
    color: #a9a9a9;

    background-color: #505050
}

.hover-text span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

.animation-container:hover .hover-text {
    opacity: 1;
}

.animation-container:hover>i {
    opacity: 0;
    transition: .6s ease;
}