body {
    background-color: #303030;
    color: #a9a9a9;
    text-align: center;

}

.menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100px;
    height: 100%;
    background-color: #505050;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.menu-item-container {
    display: block;
    top: 40%;
    color: #202020;
    margin: 25px 0;
}

.menu-item {
    padding: 25px;
    position: relative;
}


a {
    color: inherit;
    height: 80px;
    width: 80px;
}

a :hover {
    color: #D2691E
}


.text {
    padding-top: 5000px;
}